/*BEM으로 설계*/


.body{
    /*display: flex;*/
    /*flex-direction: column;*/
    /*box-sizing: border-box;*/
    /*padding:20px 100px 0px 100px;*/

    display: flex;              /* Flexbox 활성화 */
    justify-content: center;    /* 수평 가운데 정렬 */
    align-items: center;
    background-color: #d9d9d9;
    height:100%;
    padding: 30px 0 30px 0;
    /*gap:10px;*/

    /*width: 1400px;  !* 고정된 너비 *!*/
}

.form-container{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap:10px;


    height:100%;
    width:1180px;
    min-width:1180px;
}

.filter{
    display:flex;
    align-items : center;
    width:100%;
    background-color:white;
    /*background-color:green;*/
    justify-content: space-between;

    min-height:58px;
    min-width:900px;
    border-radius:15px;
    border: black 2px;

    box-sizing: border-box;
    padding: 0px 50px 0px 50px;
}

.menu{
    display:flex;
    font-size:20px;
    align-items : center;
    gap: 20px;
    background-color:white;
}

.menu__item-sort{
    color:var(--color-gainsboro);
    font-size:20px;
    text-decoration: none;
}

.menu__item-sort--focused{
    color:black;
    font-size:20px;
    text-decoration: none;
}

.menu__item-delivery-box{
    display:flex;
    gap:5px;
}

.menu__item-delivery-button{
    color:black;
    font-size:20px;
    cursor:pointer;
}



.items{
    display:flex;
    align-items : center;
    flex-wrap: wrap;
    /*width:100%;*/
    background-color:white;
    /*background-color:green;*/
    /*justify-content: space-between;*/

    /*min-height:58px;*/
    /*min-width:900px;*/

    border-radius:15px;
    /*border: 2px solid black;*/

    box-sizing: border-box;
    padding: 20px 60px 20px 60px;

    gap: 10px;
    /*justify-content: space-between;*/
    /*justify-content: space-evenly;*/
    justify-content: flex-start;
}

/*.items > * {*/
/*    flex-grow: 1; !* 요소 크기를 자동으로 늘림 *!*/
/*    max-width: calc(33.33% - 10px);*/
/*    min-width: 200px; !* 최소 크기 설정 *!*/
/*}*/


/*.items > *:nth-last-child(-n+3) {*/
/*    margin-right: auto; !* 마지막 줄에서 왼쪽 정렬 유지 *!*/
/*}*/

.item-container{
    display: flex;
    flex-direction: column;
    align-items : center;
    justify-content: center;
    background-color:white;
    /*min-height:300px;*/
    /*min-width:200px;*/

    /*max-height:400px;*/
    /*max-width:250px;*/

    /*box-sizing: border-box;*/
    height:300px;
    width:200px;

    /*flex: 1;*/
    border-radius:30px;
}

.item-container:hover {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    /*border: 1px solid var(--color-gainsboro);*/
    cursor:pointer;
    /*padding: 2px;*/
}


.items__loading {
    height:200px;
    width:50px;
    background-color:white;
}

.item{
    display: flex;
    flex-direction: column;
    background-color:white;
    height:263px;
    width:150px;
    gap:5px;
}

.item__image{
    height:150px;
    width:150px;
    object-fit: contain; /* 비율을 유지하면서 이미지가 축소됩니다. */
    background-color: white; /* 여백을 하얀색으로 처리합니다. */
}

.item__brand{
    font-size:12px;
    font-weight: bold;
}

.item__name{
    font-size:16px;
}

.item__price{
    font-size:16px;
    font-weight: bold;
}

.item__delivery{
    font-size:12px;
    /*font-weight: bold;*/
}

.item__review{
    display:flex;
    gap:5px;
    font-size:12px;
    /*font-weight: bold;*/
}