

.body{
    display:flex;
    flex-direction: column;

    width:100%;
    height:100%;
    min-height:1000px;

    border : 2px solid black;
    box-sizing: border-box;
    padding: 100px 280px 100px 280px;
}

.item{
    display:flex;
    width:100%;
    height:100%;
    /*align-items: flex-start;*/
    align-items: center;
    /*flex-grow: 1;*/
    /*border : 2px solid black;*/
    gap:150px;
}

.item__img{
    min-width:300px;
    min-height:300px;

    max-width:400px;
    max-height:400px;

    object-fit: contain;
    flex-grow: 2;
}

.item-detail{
    display:flex;
    flex-direction: column;
    width:100%;
    max-width: 100%;
    height:100%;
    gap:20px;
    flex-grow: 3;
}

.item-detail__brand{
    font-size:12px;
}

.item-detail__item-name{
    font-size:16px;
    font-weight:bold;
}

.item-price{
    display:flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 0px 20px 0px 0px;*/
    box-sizing: border-box;
}

.item-price__value-number{
    font-size:20px;
    font-weight:bold;
}
.item-price__value-unit{
    font-size:16px;
}

.item-evaluate{
    display:flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center;
    border: 3px solid black;
    border-radius: 5px;
    gap:10px;
    padding: 5px 5px 5px 5px;
    min-width:100px;
}

.item-evaluate__recommend{
    display:flex;
    gap:3px;

    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center;     /* 수직 가운데 정렬 */
}

.item-evaluate__recommend-icon{
    width:10px;
    height:10px;
}

.item-detail__line{
    width:100%;
    border: 1px solid black;
}

.item-button{
    display:flex;
    /*justify-content: center; !* 수평 가운데 정렬 *!*/
    align-items: center;     /* 수직 가운데 정렬 */
    width:100%;

    box-sizing: border-box;
    /*padding: 0px 100px 0px 0px;*/
    gap:10px;
}



.item-detail__button--font {
    font-size: var(--font-size-base);
    font-family: var(--font-inter);
    color: var(--color-white);
    white-space: nowrap;
}

.item-detail__button--able{
    display:flex;
    border-radius: var(--br-71xl);
    border: 2px solid var(--color-black);
    background-color: var(--color-black);
    align-items: center;
    justify-content: center;
    padding: 10px 70px 10px 70px;
    width: 200px;
    cursor: pointer;
}

.item-detail__button--disable{
    display:flex;
    border-radius: var(--br-71xl);
    border: 2px solid var(--color-gainsboro);
    background-color: var(--color-gainsboro);
    align-items: center;
    justify-content: center;
    padding: 10px 100px 10px 100px;
    max-width: 100%;
    pointer-events: none;
}

.item-extra{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    height:100%;
    border: 2px solid black;
}

.menu-choice{
    display:flex;
}

.menu-choice__item--select{
    display:flex;
    font-size:20px;
    font-weight:bold;
    border:none;
    background-color:white;
    cursor:pointer;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 2px;
}


.menu-choice__item--deselect{
    display:flex;
    font-size:20px;
    color:var(--color-gainsboro);
    border:none;
    background-color:white;
    cursor:pointer;
}