

.body{
    display:flex;
    /*flex-direction: column;*/
    justify-content:center;

    width:100%;
    height:100%;
    min-height:1000px;

    /*border : 2px solid black;*/
    box-sizing: border-box;
    padding: 100px 280px 100px 280px;

    gap:150px;
}

.item-container{
    display:flex;
    flex-direction: column;
    width:950px;

    gap:150px;
}



.item{
    display:flex;
    width:100%;
    height:100%;
    /*align-items: flex-start;*/
    align-items: center;
    /*flex-grow: 1;*/
    /*border : 2px solid black;*/
    gap:30px;
}

.item__img{
    /*min-width:300px;*/
    /*min-height:300px;*/

    /*max-width:400px;*/
    /*max-height:400px;*/

    /*width:310px;*/
    /*height:310px;*/


    width:400px;
    height:400px;

    object-fit: contain;
    flex-grow: 2;
}

.item-detail{
    display:flex;
    flex-direction: column;
    width:100%;
    max-width: 100%;
    height:100%;
    gap:25px;
    flex-grow: 3;
}



.item-detail__brand{
    font-size:12px;
}

.item-detail__item-name{
    font-size:16px;
    font-weight:bold;
}

.item-price{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    /*padding: 0px 20px 0px 0px;*/
    box-sizing: border-box;
}

.item-price__value-number{
    font-size:20px;
    font-weight:bold;
}
.item-price__value-unit{
    font-size:16px;
}

.item-evaluate{
    display:flex;
    justify-content: space-between; /* 수평 가운데 정렬 */
    align-items: center;
    /*border: 3px solid black;*/
    /*border-radius: 5px;*/
    /*gap:10px;*/
    /*padding: 5px 5px 5px 5px;*/
    min-width:70px;
    gap:10px;
}

.item-evaluate__recommend{
    display:flex;
    gap:3px;

    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center;     /* 수직 가운데 정렬 */
}

.item-evaluate__recommend-icon{
    width:10px;
    height:10px;
}

.item-detail__line{
    width:100%;
    border: 1px solid var(--color-gainsboro);
}

.item-button{
    display:flex;
    /*justify-content: center; !* 수평 가운데 정렬 *!*/
    align-items: center;     /* 수직 가운데 정렬 */
    width:100%;

    box-sizing: border-box;
    /*padding: 0px 100px 0px 0px;*/
    gap:20px;
}
.item-button > *:not(:last-child) {
    flex-grow: 1;  /* 자식 요소들이 가능한 공간을 나누어 차지하게 설정 */
    flex-basis: 0;  /* 요소들이 기본 크기를 0으로 설정해서 가능한 공간을 고르게 분배 */
}

.item-button-share{
    /*min-width:30px;*/
}

.item-detail__button--font {
    font-size: var(--font-size-base);
    font-family: var(--font-inter);
    color: var(--color-white);
    white-space: nowrap;
}

.item-detail__button--able{
    display:flex;
    border-radius: var(--br-71xl);
    border: 2px solid var(--color-black);
    background-color: var(--color-black);
    align-items: center;
    justify-content: center;
    padding: 10px 70px 10px 70px;
    height:40px;
    width: 200px;
    cursor: pointer;
}

.item-detail__button--disable{
    display:flex;
    border-radius: var(--br-71xl);
    border: 2px solid var(--color-gainsboro);
    background-color: var(--color-gainsboro);
    align-items: center;
    justify-content: center;
    padding: 10px 100px 10px 100px;
    height:40px;
    max-width: 100%;
    pointer-events: none;
}

.item-extra{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    height:100%;
    gap:10px;
    /*border: 2px solid black;*/
}

.menu-choice{
    display:flex;
    gap:50px;
}

.menu-choice__item--select{
    display:flex;
    font-size:20px;
    font-weight:bold;
    border:none;
    background-color:white;
    cursor:pointer;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 6px;

}


.menu-choice__item--deselect{
    display:flex;
    font-size:20px;
    color:var(--color-gainsboro);
    border:none;
    background-color:white;
    cursor:pointer;
}

.image-detail-container{
    display:flex;
    flex-direction:column;
    width: 1100px;
    height:100%;
    /*border:1px solid var(--color-gainsboro);;*/
}
.image-detail{

    /*width: 837px;*/
    /*height:970px;*/
    width:100%;
    height:1000px;
    object-fit: contain;
}
.comment-container{
    display:flex;
    flex-direction: column;
    /*justify-content : center;*/
    width: 1013px;
    min-height:1156px;
    padding: 50px 20px 50px 20px;
    gap:80px;

    /*border: 1px solid var(--color-gainsboro);*/

}

.comment-parent{
    display:flex;
    width:100%;
    min-height:150px;
    /*border: 2px solid green;*/
}

.item-detail__item-menu4{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-quantity__input{
    display:flex;
    justify-content: space-between;  /* 수평 중앙 정렬 */
    align-items: center;      /* 수직 중앙 정렬 */

    width:80px;
    height:30px;
    border : 2px solid var(--color-gainsboro);
    border-radius: 20px;
    background-color:white;

    box-sizing: border-box;
    padding: 0 12px 0 12px;
}

/*.item-quantity__button{*/
/*    appearance: none;  !* 브라우저 기본 버튼 스타일 제거 *!*/
/*    !*border: none;      !* 기본 테두리 제거 *!*!*/
/*    background: none;  !* 배경 제거 *!*/

/*}*/

/*.item-quantity__input-minus--none{*/
/*    font-size:40px;*/
/*    font-weight: 250;*/
/*    font-family: 'Roboto', sans-serif;  !* 폰트 설정 *!*/
/*    color:var(--color-gainsboro);*/
/*}*/

/*.item-quantity__input-plus--fill{*/
/*    font-size:25px;*/
/*    font-weight: 350;*/
/*    font-family: 'Roboto', sans-serif;  !* 폰트 설정 *!*/
/*}*/

.item-quantity__input-font{
    font-size:12px;
    font-weight: 500;
    box-sizing: border-box;
    padding: 0 0 2px 0;
}

.item-detail__item-menu6{
    display:flex;
    justify-content: space-between;
    align-items: center;

}

.item-detail__item-menu6-font1{
    font-size:14px;
}

.item-quantity_input-image-container{
    display:flex;
    justify-content:center;
    align-items:center;

    height:100%;
    cursor:pointer;
}

.item-quantity__input-image{
    /*cursor:pointer;*/
}

.item-total{
    display:flex;
    /*justify-content: flex-end;*/
    align-items: center;
}

.item-total__count{
    font-size:14px;
}

.item-total__separator{
    box-sizing: border-box;
    width:10px;
    padding: 0 0 10px 0;
}

.item-total__value{
    font-size:25px;
    font-weight:bold;
}

.comment-parent__user-detail{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    min-height:130px;
    height:100%;
}

.comment-parent__user-detail--menu1{
    display:flex;
    gap:5px;
}

.comment-parent__user-detail--username{
    font-size:16px;
}

.comment-parent__user-detail--review-container{
    display:flex;
    justify-content:center;
    align-items:center;
}

.comment-parent__user-detail--review-icon{
    height:10px;
    width:10px;
}

.comment-parent__user-detail--review-value{
    font-size:12px;
}

.comment-parent__user-detail--content-value{
    font-size:20px;
}

.comment-parent__user-detail--created-value{
    font-size:12px;
    color: var(--color-gainsboro);
}

.comment-like__button--clicked{
    all: unset;
    cursor: pointer;
    font-size:12px;
    font-weight:bold;
}

.comment-like__button--no-clicked{
    all: unset;
    cursor: pointer;
    font-size:12px;
    color: var(--color-gainsboro);
}

.comment-parent__user-detail--menu3{
    display:flex;
    gap:30px;
}

.comment-child{
}

.comment-child__content{
    min-height:80px;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
}

.comment-parent__picture{
    width:100px;
    height:100px;
    object-fit:cover;
}

.comment-parent__container{
    width:100%;
    height:100%;
    display:flex;
    justify-content:space-between;
    border-radius:10px;
}


.image{
    width:600px;
    height:600px;
    object-fit:cover
}

.blank{
    height:50px;
    /*border : 2px solid black;*/
}
