.light-box-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;  /* 화면 너비에 맞게 설정 */
    height: 100vh;  /* 화면 높이에 맞게 설정 */
    background-color: var(--color-dark-gray); /* 불투명한 회색 (70% 불투명) */
    z-index: 9999;  /* 다른 요소보다 위에 보이도록 설정 */

    display:flex;
    justify-content:center;
    align-items:center;
}

.light-box__title-picture{
    width:100px;
    height:100px;
    object-fit:cover;
    cursor:pointer;
}

.light-box__picture-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:15px;
}

.light-box__picture{
    width:600px;
    height:600px;
    object-fit: contain;
    background-color: black;
}

.light-box__image--focus{
    display :flex;
    gap:30px;
}

.light-box__arrow{
    width:40px;
    cursor:pointer;
}

.light-box__arrow--hidden{
    visibility: hidden;
}

.circle-container{
    display: flex;
    gap:10px;
}
