.frameChild {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--color-black);
    width: 8.5px;
    height: 36px;
}
.frameItem {
    position: absolute;
    top: 0px;
    left: 14.9px;
    background-color: var(--color-black);
    width: 8.5px;
    height: 36px;
}
.frameInner {
    position: absolute;
    top: 22.2px;
    left: 0px;
    background-color: var(--color-black);
    width: 8.5px;
    height: 23.4px;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    z-index: 1;
}


.rectangleParent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 23.4px;
    height: 36px;
}
.rectangleDiv {
    position: absolute;
    top: 13.7px;
    left: 14.9px;
    background-color: var(--color-black);
    width: 8.5px;
    height: 22.3px;
}
.frameChild1 {
    position: absolute;
    top: 8.5px;
    left: 0px;
    background-color: var(--color-black);
    width: 8.5px;
    height: 23.4px;
    transform: rotate(-90deg);
    transform-origin: 0 0;
}
.frameChild3 {
    position: absolute;
    top: 36px;
    left: 0px;
    background-color: var(--color-black);
    width: 8.5px;
    height: 23.4px;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    z-index: 1;
}
.rectangleGroup {
    position: absolute;
    top: 0px;
    left: 24.9px;
    width: 23.4px;
    height: 36px;
}
.contentStructure {
    align-self: stretch;
    height: 36px;
    position: relative;
}
.structure2 {
    width: 48.3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-8xs) 0px 0px;
    box-sizing: border-box;
}
.health {
    text-decoration: none;
    position: relative;
    font-weight: 700;
    color: inherit;
    display: inline-block;
    min-width: 66px;
    flex-shrink: 0;
}
.shop {
    margin-top: -2px;
    text-decoration: none;
    position: relative;
    font-weight: 700;
    color: inherit;
    display: inline-block;
    flex-shrink: 0;
}
.structure4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 0px 0px;
}
.structure3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.structure1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs-7);
}
.structure {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
.structureChild {
    height: 50px;
    width: 595px;
    position: relative;
    border-radius: var(--br-71xl);
    background-color: var(--color-gainsboro);
    display: none;
    max-width: 100%;
}
/*.b {*/
/*    position: relative;*/
/*    font-size: var(--font-size-base);*/
/*    display: inline-block;*/
/*    font-family: var(--font-inter);*/
/*    color: var(--color-white);*/
/*    text-align: left;*/
/*    min-width: 60px;*/
/*    white-space: nowrap;*/
/*    z-index: 1;*/
/*}*/
.structure6 {
    border-radius: var(--br-71xl);
    background-color: var(--color-gainsboro);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-mini) var(--padding-248xl) var(--padding-2xs)
    var(--padding-249xl);
    box-sizing: border-box;
    max-width: 100%;
}
.structure5 {
    margin: 0;
    align-self: stretch;
    height: 493px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-26xl);
    max-width: 100%;
}
.div1 {
    position: relative;
}
.div2 {
    position: relative;
    color: var(--color-black);
    display: inline-block;
    min-width: 15px;
}
.parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-3xs);
}
.structure7 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0px var(--padding-12xs) 0px 0px;
    font-size: var(--font-size-base);
    color: var(--color-gainsboro);
}
.div {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-80xl) var(--padding-323xl) 55px var(--padding-324xl);
    box-sizing: border-box;
    gap: var(--gap-41xl);
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-inter);
}

@media screen and (max-width: 650px) {
    .div {
        gap: var(--gap-11xl);
        padding-left: var(--padding-152xl);
        padding-right: var(--padding-152xl);
        box-sizing: border-box;
    }
}
@media screen and (max-width: 625px) {
    .structure6 {
        padding-left: var(--padding-115xl);
        padding-right: var(--padding-114xl);
        box-sizing: border-box;
    }

    .structure5 {
        gap: var(--gap-3xl);
    }
}
@media screen and (max-width: 450px) {
    .health {
        font-size: var(--font-size-base);
    }

    .shop {
        font-size: var(--font-size-base);
    }

    .structure6 {
        padding-left: var(--padding-xl);
        padding-right: var(--padding-xl);
        box-sizing: border-box;
    }

    .div {
        gap: var(--gap-mini);
        padding-left: var(--padding-xl);
        padding-right: var(--padding-xl);
        box-sizing: border-box;
    }
}



/*------------추가----------------*/









.navigationButtons {
    align-self: stretch;
    height: 36px;
    position: relative;
}
.navigationButtonsWrapper {
    width: 48.3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-8xs) 0px 0px;
    box-sizing: border-box;
}
.health {
    position: relative;
    display: inline-block;
    min-width: 66px;
    flex-shrink: 0;
    z-index: 1;
}
.shop {
    margin-top: -2px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
}
.shopWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 0px 0px;
}
.healthParent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.frameGroup {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs-7);
}
.lineDiv {
    width: 2px;
    height: 32px;
    position: relative;
    border-right: 2px solid var(--color-black);
    box-sizing: border-box;
}
.lineWrapper {
    height: 39px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 9px 0px 0px;
    box-sizing: border-box;
}
.b {
    position: relative;
    white-space: nowrap;
}
.passwordResetLabel {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-smi) 0px 0px;
}
.frameParent {
    width: 277px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 19px;
}
.topNavigation {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0px var(--padding-12xs) 0px 0px;
}
.changePasswordButtonChild {
    height: 50px;
    width: 595px;
    position: relative;
    border-radius: var(--br-71xl);
    background-color: var(--color-gainsboro);
    display: none;
    max-width: 100%;
}
.b1 {
    position: relative;
    font-size: var(--font-size-base);
    display: inline-block;
    font-family: var(--font-inter);
    color: var(--color-white);
    text-align: left;
    min-width: 94px;
    white-space: nowrap;
    z-index: 1;
}
.changePasswordButton {
    border-radius: var(--br-71xl);
    background-color: var(--color-gainsboro);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-mini) 250px var(--padding-base);
    box-sizing: border-box;
    max-width: 100%;
}
.passwordResetForm {
    margin: 0;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-21xl);
    max-width: 100%;
}
.div {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 206px var(--padding-323xl);
    box-sizing: border-box;
    gap: var(--gap-41xl);
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-inter);
}

@media screen and (max-width: 650px) {
    .div {
        gap: var(--gap-11xl);
        padding-left: var(--padding-152xl);
        padding-right: var(--padding-152xl);
        box-sizing: border-box;
    }
}
@media screen and (max-width: 625px) {
    .changePasswordButton {
        padding-left: var(--padding-106xl);
        padding-right: var(--padding-106xl);
        box-sizing: border-box;
    }

    .passwordResetForm {
        gap: var(--gap-xl);
    }
}
@media screen and (max-width: 450px) {
    .health {
        font-size: var(--font-size-base);
    }

    .shop {
        font-size: var(--font-size-base);
    }

    .b {
        font-size: var(--font-size-base);
    }

    .changePasswordButton {
        padding-left: var(--padding-xl);
        padding-right: var(--padding-xl);
        box-sizing: border-box;
    }

    .div {
        gap: var(--gap-mini);
        padding-left: var(--padding-xl);
        padding-right: var(--padding-xl);
        box-sizing: border-box;
    }
}


