.frameChild {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--color-black);
    width: 8.5px;
    height: 36px;
}
.frameItem {
    position: absolute;
    top: 0px;
    left: 14.9px;
    background-color: var(--color-black);
    width: 8.5px;
    height: 36px;
}
.frameInner {
    position: absolute;
    top: 22.2px;
    left: 0px;
    background-color: var(--color-black);
    width: 8.5px;
    height: 23.4px;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    z-index: 1;
}
.rectangleParent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 23.4px;
    height: 36px;
}
.rectangleDiv {
    position: absolute;
    top: 13.7px;
    left: 14.9px;
    background-color: var(--color-black);
    width: 8.5px;
    height: 22.3px;
}
.frameChild1 {
    position: absolute;
    top: 8.5px;
    left: 0px;
    background-color: var(--color-black);
    width: 8.5px;
    height: 23.4px;
    transform: rotate(-90deg);
    transform-origin: 0 0;
}
.frameChild3 {
    position: absolute;
    top: 36px;
    left: 0px;
    background-color: var(--color-black);
    width: 8.5px;
    height: 23.4px;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    z-index: 1;
}
.rectangleGroup {
    position: absolute;
    top: 0px;
    left: 24.9px;
    width: 23.4px;
    height: 36px;
}
.contentStructure {
    align-self: stretch;
    height: 36px;
    position: relative;
}
.structure2 {
    width: 48.3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-8xs) 0px 0px;
    box-sizing: border-box;
}
.health {
    text-decoration: none;
    position: relative;
    font-weight: 700;
    color: inherit;
    display: inline-block;
    min-width: 66px;
    flex-shrink: 0;
}
.shop {
    margin-top: -2px;
    text-decoration: none;
    position: relative;
    font-weight: 700;
    color: inherit;
    display: inline-block;
    flex-shrink: 0;
}
.structure4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 0px 0px;
}
.structure3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.structure1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs-7);
}
.structure {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
.structureChild {
    height: 50px;
    width: 595px;
    position: relative;
    border-radius: var(--br-71xl);
    background-color: var(--color-gainsboro);
    display: none;
    max-width: 100%;
}
.b {
    position: relative;
    font-size: var(--font-size-base);
    display: inline-block;
    font-family: var(--font-inter);
    color: var(--color-white);
    text-align: left;
    min-width: 60px;
    white-space: nowrap;
    z-index: 1;
}
.structure6 {
    border: 2px solid var(--color-gainsboro); /* 두께 2px, 실선, 빨간색 */
    border-radius: var(--br-71xl);
    background-color: var(--color-gainsboro);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-mini) var(--padding-248xl) var(--padding-2xs)
    var(--padding-249xl);
    box-sizing: border-box;
    max-width: 100%;
    width:100%;
}
.structure5 {
    margin: 0;
    align-self: stretch;
    height: 493px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-26xl);
    max-width: 100%;
}
.div1 {
    position: relative;
}
.div2 {
    position: relative;
    color: var(--color-black);
    display: inline-block;
    min-width: 15px;
}
.parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-3xs);
}
.structure7 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0px var(--padding-12xs) 0px 0px;
    font-size: var(--font-size-base);
    color: var(--color-gainsboro);
}
.div {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-80xl) var(--padding-323xl) 55px var(--padding-324xl);
    box-sizing: border-box;
    gap: var(--gap-41xl);
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-inter);

    /*고정 사이즈 디자인이 있어서 임시방편으로 최소 사이즈를 제한해놓음*/
    min-width:1200px;
}

@media screen and (max-width: 650px) {
    .div {
        gap: var(--gap-11xl);
        padding-left: var(--padding-152xl);
        padding-right: var(--padding-152xl);
        box-sizing: border-box;
    }
}
@media screen and (max-width: 625px) {
    .structure6 {
        padding-left: var(--padding-115xl);
        padding-right: var(--padding-114xl);
        box-sizing: border-box;
    }

    .structure5 {
        gap: var(--gap-3xl);
    }
}
@media screen and (max-width: 450px) {
    .health {
        font-size: var(--font-size-base);
    }

    .shop {
        font-size: var(--font-size-base);
    }

    .structure6 {
        padding-left: var(--padding-xl);
        padding-right: var(--padding-xl);
        box-sizing: border-box;
    }

    .div {
        gap: var(--gap-mini);
        padding-left: var(--padding-xl);
        padding-right: var(--padding-xl);
        box-sizing: border-box;
    }
}


.form {
    margin: 0;
    align-self: stretch;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-26xl);
    max-width: 100%;
}

.formStructure {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-gainsboro);
    font-family: var(--font-inter);
}

.formStructure > *{
    max-height:50px;
}


